body {
    text-align: center;
}

:focus {
    outline: none;
}

table {
    background-color: white;
    margin: 60px auto;
    border-collapse: collapse;
    text-align: center;
}

td {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 25px;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    color: white;
    background: #cfe7fa; 
    background: -moz-linear-gradient(top, #cfe7fa 0%, #6393c1 100%); 
    background: -webkit-linear-gradient(top, #cfe7fa 0%,#6393c1 100%); 
    background: linear-gradient(to bottom, #cfe7fa 0%,#6393c1 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 );
}

td:hover {
	cursor: default;
}

.open {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 25px;
    background: #d8e1e7; 
    background: -moz-linear-gradient(top, #d8e1e7 5%, #f2f6f8 100%, #b5c6d0 100%, #e0eff9 100%); 
    background: -webkit-linear-gradient(top, #d8e1e7 5%,#f2f6f8 100%,#b5c6d0 100%,#e0eff9 100%); 
    background: linear-gradient(to bottom, #d8e1e7 5%,#f2f6f8 100%,#b5c6d0 100%,#e0eff9 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e1e7', endColorstr='#e0eff9',GradientType=0 );
    color: black;
}

p {
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
    margin-bottom: 20px;
}

.bomb {
    background-image: url(http://s019.radikal.ru/i628/1603/95/a734ca2afd52.png);
}

.bombLose {
    background-image: url(http://s020.radikal.ru/i706/1603/ee/83a260cb91ce.png);
}

#message {
    text-shadow: 1px 1px 1px rgba(255,166,225,1);
    color: #E0102C;
    letter-spacing: 2pt;
    word-spacing: 2pt;
    font-size: 27px;
    text-align: center;
    font-family: georgia, serif;
    line-height: 1;
}

.button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
}